body {
    background-color: white;
    background-image: url("https://i.pinimg.com/originals/19/7f/29/197f29ed836da3347bc0b6f910995d1b.jpg");
    font-family: 'Comfortaa', cursive;
    color: #4f4c4b;
}

a {
  text-decoration: none;
  color: #444554;
}

h1 {
  color: #3f3d3d;
  font-size: 26px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 17px;
  font-weight: 400;
}

h4, a, p {
  font-size: 15px;
}

a {
  color: #686665;
}

.sidetext {
  padding-left: 20px;
  padding-top: 200px;
}


#sidebar {
  position: fixed;
  width: 150px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #F48B7F;
}

#page-content {
  margin-left: 150px;
}

.container {
  width: 600px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
    margin: 0 auto;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}


.card {
  background-color: #F9B5AC;
  padding: 20px 30px;
  margin: 20px 0;
  border-radius: 2px;
  box-shadow: 1px 1px #f4a89f;
}

.text-center {
  text-align: center;
}

.img-circle {
  border-radius: 50%;
}

.btn-pink {
  padding: 10px 20px;
  background-color: #e89186;
  font-size: 17px;
  font-weight: 400;
  box-shadow: 1px 1px #c46256;
  border-radius: 4px;
  margin-bottom: 20px;
}


.list-inline > li {
  display: inline-block;
  padding: 10px 30px;
}

.list-inline {
  padding-left: 0;
}

.fab {
  font-size: 30px;
}

.social-media {
  font-size: 17px;
}

.fas {
  font-size: 30px;
  margin-top: 20px;
}

.img-cat {
  clip-path: polygon(49% 100%, 39% 97%, 29% 90%, 21% 84%, 15% 77%, 8% 69%, 4% 61%, 2% 50%, 1% 39%, 0% 31%, 1% 23%, 4% 15%, 9% 9%, 16% 6%, 23% 5%, 28% 5%, 35% 8%, 39% 11%, 43% 16%, 45% 22%, 47% 27%, 49% 22%, 51% 18%, 54% 13%, 59% 8%, 63% 4%, 69% 4%, 76% 4%, 81% 6%, 86% 8%, 91% 11%, 94% 15%, 95% 21%, 96% 26%, 96% 32%, 95% 38%, 92% 48%, 90% 55%, 86% 63%, 81% 69%, 76% 75%, 73% 80%, 69% 84%, 65% 90%, 60% 94%);
}


